/* HEADER SECTION */

header {
  background-image: linear-gradient(rgba(59, 48, 17, 0.247), rgba(59, 48, 17, 0.247)), url(img/main_page_header_background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.header-pedding {
  padding-top: 30px;
  width: 70%;
  margin-left: 15%;
}

.container {
  margin-top: 0;
}

.hdr-list {
  width: 80%;
  display: inline-block;
}

.hdr-list img {
  float: left;
}

.hdr-list ul {
  list-style: none;
  margin-left: 12em;
}

.hdr-list li {
  display: inline-block;
  text-align: center;
}

.registration a:link,
.registration a:visited,
.hdr-list ul li a:link,
.hdr-list ul li a:visited {
  text-decoration: none;
  color: white;
  margin-right: 2em;
  padding-bottom: 10px;
  transition: all 0.2s;
  border-bottom: 2px solid transparent;
  font-weight: 400;
}

.hdr-list ul li a:hover {
  border-bottom: 2px solid white;
}

.hdr-list ul li a:active {
  border-bottom: 2px solid tomato;
}

.registration {
  width: 20%;
  float: right;
}

.hdr-main-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 40%;
}

h1 {
  margin-bottom: 0;
  color: white;
  font-weight: 800;
  font-size: 350%;
  font-family: Arial, Helvetica, sans-serif;
}

.hdr-main-txt p {
  width: 100%;
  margin-top: 3%;
  font-size: 120%;
  color: rgba(255, 255, 255, 0.781);
  font-weight: 400;
  padding-bottom: 5%;
}

.hdr-main-txt a {
  text-decoration: none;
  color: white;
  font-size: 110%;
  background-color: rgb(255, 104, 49);
  padding: 3%;
  font-weight: 400;
  transition: all 0.3s;
}

.creat-text a:hover,
.hdr-main-txt a:hover {
  background-color: rgb(230, 93, 43);
}

/* SECTION PICTURES */

.section-pictures {
  margin-top: 5%;
}

.pictures {
  display: block;
}

.pictures a {
  text-decoration: none;
}

.picture-div {
  position: relative;
  overflow: hidden;
}

.pictures img {
  width: 100%;
  height: auto;
  opacity: 0.8;
  transform: scale(1);
  transition: transform 0.2s;
}

.pictures img:hover {
  opacity: 1;
  transform: scale(1.03);
}

p {
  color: rgba(0, 0, 0, 0.678);
}

h5 {
  color: black;
  font-weight: 400;
  font-size: 120%;
  margin-top: 5%;
}

.pictures p {
  font-size: 95%;
  display: inline-block;
}

.pictures p:last-of-type {
  margin-top: 2%;
}

.author {
  color: rgb(230, 93, 43);
  font-weight: 400;
}

.author:hover {
  color: rgb(199, 57, 5);
}

.date {
  position: absolute;
  bottom: 13%;
  left: 0;
  color: rgb(230, 93, 43);
  font-weight: 400;
  padding: 5.1%;
  background-color: white;
  border-bottom: 2px solid rgb(230, 93, 43);
}

.page-switch a {
  text-decoration: none;
  padding: 13px 16px;
  background-color: rgba(238, 233, 233, 0.767);
  border-radius: 50%;
  color: rgba(255, 101, 45, 0.897);
  font-weight: 400;
  transition: all 0.3s;
}

.page-switch a:hover,
.page-switch a:active {
  background-color: rgba(255, 101, 45, 0.897);
  color: white;
}

.page-switch {
  padding: 2% 0 0 1%;
  margin-bottom: 5%;
}

.page-switch a:nth-of-type(2) {
  background-color: rgba(255, 101, 45, 0.897);
  color: white;
}

/* FOOTER */

footer {
  background-color: rgba(128, 128, 128, 0.178);
  padding-bottom: 5%;
}

.footer-info {
  margin-top: 20%;
}

.footer-info span {
  padding-bottom: 2%;
}

.footer-info p {
  margin: 8% 0;
  font-size: 95%;
  font-style: oblique;
}

.footer-info a:link,
.footer-info a:visited {
  color: black;
}

.footer-info span {
  color: black;
  font-weight: 500;
}

.footer-list {
  margin-top: 5%;
}

.footer-list {
  list-style: none;
}

.footer-list:nth-last-of-type(5) {
  margin-top: 10%;
}

.copyright {
  margin-top: 10%;
  text-align: center;
}

.copyright p {
  font-size: 95%;
  color: rgba(0, 0, 0, 0.473);
  font-weight: 400;
}

.copyright a:link,
.copyright a:visited {
  color: rgba(0, 0, 0, 0.473);
}

.heart-icon {
  color: red;
  font-size: 120%;
}
